*{
	box-sizing: border-box;
	transition: all .3s;
	font-size: 1em;
}

body{
    margin: 0;
 	font-family: "Calibri";
 	font-size: 15px;
 	overflow-x: hidden; 
}

header{
	width: 100vw;
	height: 10vh;
	padding: 0 2vw 0 2vw;
	background: #EF9221;
}

#logo{
	float: left;
	margin-top: 2.5vh;
}

.addAdvert{
	float: right;
	height: inherit;
	display: flex;
	align-items: center;
	font-size: 1.1em;
	font-weight: 700;
	text-align: right;
}

.addAdvert div:first-child{
	background: #367AA3;
	padding: 1vw ;
	height: inherit;
	display: flex;
	margin-right: .5vw;
}
.addAdvert img{
	width: 1.5vw;
	height: auto;
}

