*{
	box-sizing: border-box;
	transition: all .3s;
 	font-family: 'Cabin', sans-serif;
	font-size: 15px;
}

body{
    margin: 0;
 	overflow-x: hidden;
}

.userPanel, .logIn form, .addAdvert, .addAdvert div:first-child,
main, nav, .topNav, .search, .search div, footer
{display: flex;}

.userPanel, .logIn form, .search div, nav, main, aside
{flex-direction: column;}

.userPanel, .addAdvert div:first-child, footer
{justify-content: center;}
.search div, .addAdvert div:first-child
{align-items: center;}

header, footer
{width: 100%}

nav, main, aside, .logo
{float: left;}

header, .addAdvert, footer
{background: #EF9221;}




nav{
	width: 15%;
	border-right: 2px solid rgba(28,106,152,1);
}


.leftNavItem{
	padding: 10px;
    text-align: center;
    -webkit-box-shadow: inset 8px -7px 4px -3px rgba(239,146,33,1);
	-moz-box-shadow: inset 8px -7px 4px -3px rgba(239,146,33,1);
	box-shadow: inset 8px -7px 4px -3px rgba(239,146,33,1);
	margin-bottom: 3px;
}

.leftNavItem:hover{

	-webkit-box-shadow: inset 8px -7px 4px -3px rgba(28,106,152,1);
	-moz-box-shadow: inset 8px -7px 4px -3px rgba(28,106,152,1);
	box-shadow: inset 8px -7px 4px -3px rgba(28,106,152,1);
	padding-left: 20px;
	cursor: pointer;
	letter-spacing: 1px;
}












main{
	width: 70%;
	background: url(./img/brick.jpg);
	color: #FFF;
}

header{
	height: 65px;
	padding: 0 2vw 0 2vw;
}
.logo{
	margin-top: 2.5vh;
}


.userPanel, .topNav{     
	float: right;
	align-items: center;
	height: inherit;
	margin-right: 20px;
}

.userPanel img{
	width: 1em;
	margin: 5px;
}

.logIn{
	padding: 10px;
	position: absolute; top: 65px;
	background: #FFA639 
}
.logIn p{
	margin: 5px 0;
}

.loginError{
	color: #F00;
}

.topNav, .topNavItem{
	margin-right: 10px;
}

.search{
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	background: rgba(0, 0, 0, .5);
}

.search div{
	width: 25%;
}
.search p{
	margin: 0 0 5px 0;
	font-size: .95em;
}
.search input, .search select{
	border-radius: 3px;
	outline: none;
	border: none;
	width: 90%;
	height: 30px;
}











aside{
	width: 15%;
}


.addAdvert{
	height: 65px;
	align-items: center;
	font-size: 1.1em;
	font-weight: 700;
	text-align: right;
}
.addAdvert:hover, .logIn:hover{
	background: #FFA639;
	cursor: pointer;
	font-size: 1.12em;
}

.userPanel:hover{
	font-size: 1em;
}

.addAdvert div:first-child{
	background: #367AA3;
	width: 50px;
	height: inherit;
	margin-right: 15px;
}
.addAdvert img{
	height: 30px;
}
.addAdvert:hover img{
	height: 35px;
}


footer{
	padding: 15px;
}



